.app {
  background-color: #282c34;
  min-height: 100vh;
  position: relative;
  font-family: 'Crimson Text', serif;
}

/* /////////////////////////////////////////// Header ////////////////////////////////////////// */

.header {
  display: flex;
  background-color: #282c34;
  font-size: 25px;
  padding-top: 2vh;
  font-family: 'Crimson Text', serif;
}

.header-name {
  padding-right: 55vw;
  color: wheat
}

.header a {
  color: white;
  padding: 0 2vw;
}

.header a:hover {
  color: orange;
  text-decoration: none;
}

/* /////////////////////////////////////////// Home ////////////////////////////////////////// */

.homepage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
}

.homepage-name {
  color: white;
  padding-top: 1vh;
  padding-bottom: 2vh;

}

.homepage-name h1 {
  animation: fadeIn;
  animation-duration: 3s;
  font-size: 5rem;
  font-family: 'Crimson Text', serif;
}

.homepage-name h4 {
  opacity: 0;
  animation: fadeIn;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  font-size: 2rem;
  font-family: 'Crimson Text', serif;
}

@keyframes fadeIn{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

/* /////////////////////////////////////////// Projects ////////////////////////////////////////// */

.projects-page {
  background-color: #282c34;
  position: relative;
}

.projects-page h1 {
  color: white;
  font-style: italic;
  text-align: center;
}

.projects-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-one, .card-two, .card-three, .card-four, .card-five, .card-six{
  padding: 3%;
  width: 40vw; 
}

#card-one, #card-two, #card-three, #card-four, #card-five, #card-six {
  background: rgb(249, 249, 249, 0.3);
  color: white;
}

.projects-page a:hover {
  color: white;
  text-decoration: none;
}

#screenshot {
  padding: 3%;
}

.info-button {

}

#dropdown-text{
  color: black;
}

.card-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
}



/* /////////////////////////////////////////// Footer ////////////////////////////////////////// */

.footer {
  color: white;
  position: absolute;
  bottom: 0%;
  height: 4vh;
  width: 100vw;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
