.app {
  background-color: #282c34;
  min-height: 100vh;
  position: relative;
  font-family: 'Crimson Text', serif;
}

/* /////////////////////////////////////////// Header ////////////////////////////////////////// */

.header {
  display: flex;
  background-color: #282c34;
  font-size: 25px;
  padding-top: 2vh;
  font-family: 'Crimson Text', serif;
  border: 1px solid black;
}

.header-name {
  padding-right: 52vw;
  color: wheat
}

.header a {
  color: white;
  padding: 0 2vw;
}

.header a:hover {
  color: orange;
  text-decoration: none;
}

/* /////////////////////////////////////////// Home ////////////////////////////////////////// */

.bird-one, .bird-two, .bird-three, .bird-four {
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg');
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;
	
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
  animation-iteration-count: infinite;
}

	.bird-one {
		animation-duration: 2s;
		animation-delay: -0.5s;		
	}
	
	.bird-two {
		animation-duration: 0.9s;
		animation-delay: -0.75s;
	}
	
	.bird-three {
		animation-duration: 1.25s;
		animation-delay: -0.25s;
	}
	
	.bird-four {
		animation-duration: 1.1s;
		animation-delay: -0.5s;
	}


.bird-container-one, .bird-container-two, .bird-container-three, .bird-container-four {
	position: absolute;
	
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
	
.bird-container-one {
  top: 12%;
		animation-duration: 15s;
		animation-delay: 0;
	}
	
.bird-container-two {
  top: 15%;
		animation-duration: 16s;
		animation-delay: 1s;
	}
	
.bird-container-three {
  top: 10%;
		animation-duration: 14.6s;
		animation-delay: 9.5s;
	}
	
.bird-container-four {
  top: 13%;
		animation-duration: 16s;
		animation-delay: 10.25s;
	}
	

@keyframes fly-cycle {
	
	100% {
		background-position: -900px 0;
	}
	
}

@keyframes fly-right-one {
	
	0% {
		transform: scale(0.3) translateX(-10vw);
	}
	
	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	
	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	
	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	
	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
}

@keyframes fly-right-two {
	
	0% {
		transform: translateY(-2vh) translateX(-10vw) scale(0.5);
	}
	
	10% {
		transform: translateY(0vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(-4vh) translateX(30vw) scale(0.6);
	}
	
	30% {
		transform: translateY(1vh) translateX(50vw) scale(0.45);
	}
	
	40% {
		transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.45);
	}
	
	51% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}	
}

.homepage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
  
}

.homepage-name {
  color: white;
  padding-top: 1vh;
  padding-bottom: 2vh;

}

.homepage-name h1 {
  animation: fadeIn;
  animation-duration: 3s;
  font-size: 4rem;
  font-family: 'Crimson Text', serif;
  text-align: center;
}

.homepage-name h4 {
  opacity: 0;
  animation: fadeIn;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  font-size: 2rem;
  font-family: 'Crimson Text', serif;
  text-align: center
}

#carousel {
  opacity: 0;
  animation: fadeIn;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

.homepage-bio {
  color: white;
  padding-bottom: 8vh;
  padding-top: 4vh;
}

.homepage-bio h3 {
  font-size: 40px;
  text-align: center;
}

.homepage-bio p {
  font-size: 23px;
  padding-left: 10vw;
  padding-right: 10vw;
  color: white; 
}

/* /////////////////////////////////////////// Projects ////////////////////////////////////////// */

.projects-page {
  background-color: #282c34;
  position: relative;
}

.projects-page h1 {
  color: white;
  text-align: center;
  opacity: 0;
  animation: fadeIn;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  font-size: 3rem;
  font-family: 'Crimson Text', serif;
}

.projects-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; 
}

.card-one, .card-two, .card-three, .card-four, .card-five, .card-six{
  padding: 3%;
  width: 40vw; 
}

#card-one, #card-two, #card-three, #card-four, #card-five, #card-six {
  background: rgb(249, 249, 249, 0.3);
  color: white;
}

.projects-page a:hover {
  color: white;
  text-decoration: none;
}

#screenshot {
  padding: 3%;
}

#dropdown-text{
  color: black;
}

.card-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* /////////////////////////////////////////// Contact ////////////////////////////////////////// */

.contact {
  color: white;
}

.contact h1 {
  color: white;
  text-align: center;
  opacity: 0;
  animation: fadeIn;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  font-size: 3rem;
  font-family: 'Crimson Text', serif;
  padding-bottom: 1%;
}

.contact-main {
  display: flex;
  justify-content: space-evenly;
}

.contact-info a {
  color: lightskyblue;
  text-decoration: none;
  font-size: 30px;
}

.contact-info a:hover {
  color: orange;
  text-decoration: none;
}

.contact-main h3 {
  padding-bottom: 3%;
}

/* /////////////////////////////////////////// Footer ////////////////////////////////////////// */

.footer {
  color: white;
  position: absolute;
  bottom: 0%;
  height: 4vh;
  width: 100vw;
}
